@use '../../styles/variables'

%button
  width: 100%
  height: 56px
  border-radius: 4px

  font-size: variables.$font-size-small
  font-weight: variables.$font-weight-bold

  color: variables.$white

  cursor: pointer
  transition: all ease 0.3s

  &:hover
    filter: brightness(0.9)

%icon-button
  width: 40px
  height: 40px

  display: flex
  justify-content: center
  align-items: center

.primary
  @extend %button
  background-color: variables.$primary

  &:hover
    box-shadow: 0 0 6px variables.$primary

.secondary
  @extend %button
  background-color: variables.$secondary

  &:hover
    box-shadow: 0 0 6px variables.$secondary

.icon-button-primary
  @extend %button
  @extend %icon-button
  background-color: transparent

  svg
    color: variables.$gray-label

  &:hover
    background-color: variables.$gray-transparent

.icon-button-secondary
  @extend %button
  @extend %icon-button
  background-color: variables.$primary

  svg
    color: variables.$white

  &:hover
    filter: brightness(0.9)
