$primary: rgba(63, 113, 240, 1)
$secondary: rgba(38, 226, 113, 1),
$white: #FFFFFF
$error: rgba(209, 23, 23, 1),
$warning: rgba(185, 80, 0, 1),
$border: rgba(177, 177, 177, 1),
$gray-label: rgba(102, 102, 102, 1),
$background-dash: rgba(247, 248, 249, 1)
$hover: rgba(241, 242, 245, 1)
$gray-transparent: rgba(39, 40, 51, 0.04)
$blue-focus-border: rgba(128, 172, 255, 1)
$blue-focus: rgba(240, 245, 255, 1)
$shadow: rgba(0, 0, 0, 0.5)
$background-dark-mode: rgb(39, 40, 51)

$font-size-small: 14px
$font-size-large: 18px
$font-size-xlarge: 20px

$font-weight-bold: 600
